

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css" />
  <link rel="stylesheet" href="./reset.css" />
</head>
<body>
  <a href="/new" class="new-msg">
    <button>New Message</button>
  </a>
  <ul>
    <% messages.map((message,index)=>{ %>
    <li class="message">
      <p><%= message.user%></p>
      <p><%= message.text%></p>
    
      <% 
      
      const day = String(message.added.getDate()).padStart(2, '0'); // padStart ensures 2 digits
      const month = String(message.added.getMonth() + 1).padStart(2, '0'); // Months are zero-based, so add 1
      const year = message.added.getFullYear();

      const date = `${month}/${day}/${year}`;
      
      %>
      <p><%= date%></p>
      <a href="/msg/<%=index%>">
        <button>Open</button>
      </a>
    </li>
    <% }) %>
  </ul>
</body>
</html>

